/*
x402api Public API

Public External-Wallet x402 integration endpoints for programmatic charges, readiness, receiving addresses, resources, payments, receipts, and facilitator discovery.

API version: 1.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package x402api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type ReceivingAddressesAPI interface {

	/*
	ReceivingAddressesGetControlCapabilities Get receiving-address control capabilities

	Return the supported proof and control capabilities for external receiving addresses. Requires a tenant API key with the `wallets:read` scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReceivingAddressesGetControlCapabilitiesRequest
	*/
	ReceivingAddressesGetControlCapabilities(ctx context.Context) ApiReceivingAddressesGetControlCapabilitiesRequest

	// ReceivingAddressesGetControlCapabilitiesExecute executes the request
	//  @return ExternalAddressControlCapabilities
	ReceivingAddressesGetControlCapabilitiesExecute(r ApiReceivingAddressesGetControlCapabilitiesRequest) (*ExternalAddressControlCapabilities, *http.Response, error)

	/*
	ReceivingAddressesList List receiving addresses

	List tenant receiving-address registrations using opaque cursor pagination. Requires a tenant API key with the `wallets:read` scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReceivingAddressesListRequest
	*/
	ReceivingAddressesList(ctx context.Context) ApiReceivingAddressesListRequest

	// ReceivingAddressesListExecute executes the request
	//  @return []ExternalReceivingAddress
	ReceivingAddressesListExecute(r ApiReceivingAddressesListRequest) ([]ExternalReceivingAddress, *http.Response, error)
}

// ReceivingAddressesAPIService ReceivingAddressesAPI service
type ReceivingAddressesAPIService service

type ApiReceivingAddressesGetControlCapabilitiesRequest struct {
	ctx context.Context
	ApiService ReceivingAddressesAPI
}

func (r ApiReceivingAddressesGetControlCapabilitiesRequest) Execute() (*ExternalAddressControlCapabilities, *http.Response, error) {
	return r.ApiService.ReceivingAddressesGetControlCapabilitiesExecute(r)
}

/*
ReceivingAddressesGetControlCapabilities Get receiving-address control capabilities

Return the supported proof and control capabilities for external receiving addresses. Requires a tenant API key with the `wallets:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReceivingAddressesGetControlCapabilitiesRequest
*/
func (a *ReceivingAddressesAPIService) ReceivingAddressesGetControlCapabilities(ctx context.Context) ApiReceivingAddressesGetControlCapabilitiesRequest {
	return ApiReceivingAddressesGetControlCapabilitiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExternalAddressControlCapabilities
func (a *ReceivingAddressesAPIService) ReceivingAddressesGetControlCapabilitiesExecute(r ApiReceivingAddressesGetControlCapabilitiesRequest) (*ExternalAddressControlCapabilities, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExternalAddressControlCapabilities
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReceivingAddressesAPIService.ReceivingAddressesGetControlCapabilities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/receiving-address-control-capabilities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ApiErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReceivingAddressesListRequest struct {
	ctx context.Context
	ApiService ReceivingAddressesAPI
	cursor *string
	pageSize *int32
}

// Opaque pagination cursor from X-X402API-Next-Cursor or rel&#x3D;next Link.
func (r ApiReceivingAddressesListRequest) Cursor(cursor string) ApiReceivingAddressesListRequest {
	r.cursor = &cursor
	return r
}

// Number of results in the bounded array page (default and maximum 100).
func (r ApiReceivingAddressesListRequest) PageSize(pageSize int32) ApiReceivingAddressesListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiReceivingAddressesListRequest) Execute() ([]ExternalReceivingAddress, *http.Response, error) {
	return r.ApiService.ReceivingAddressesListExecute(r)
}

/*
ReceivingAddressesList List receiving addresses

List tenant receiving-address registrations using opaque cursor pagination. Requires a tenant API key with the `wallets:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReceivingAddressesListRequest
*/
func (a *ReceivingAddressesAPIService) ReceivingAddressesList(ctx context.Context) ApiReceivingAddressesListRequest {
	return ApiReceivingAddressesListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ExternalReceivingAddress
func (a *ReceivingAddressesAPIService) ReceivingAddressesListExecute(r ApiReceivingAddressesListRequest) ([]ExternalReceivingAddress, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ExternalReceivingAddress
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReceivingAddressesAPIService.ReceivingAddressesList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/receiving-addresses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", defaultValue, "form", "")
		r.pageSize = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ApiErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
