/*
x402api Public API

Public External-Wallet x402 integration endpoints for programmatic charges, readiness, receiving addresses, resources, payments, receipts, and facilitator discovery.

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package x402api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type FacilitatorDiscoveryAPI interface {

	/*
	FacilitatorSupportedRetrieve Method for FacilitatorSupportedRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiFacilitatorSupportedRetrieveRequest
	*/
	FacilitatorSupportedRetrieve(ctx context.Context) ApiFacilitatorSupportedRetrieveRequest

	// FacilitatorSupportedRetrieveExecute executes the request
	//  @return SupportedResponse
	FacilitatorSupportedRetrieveExecute(r ApiFacilitatorSupportedRetrieveRequest) (*SupportedResponse, *http.Response, error)
}

// FacilitatorDiscoveryAPIService FacilitatorDiscoveryAPI service
type FacilitatorDiscoveryAPIService service

type ApiFacilitatorSupportedRetrieveRequest struct {
	ctx context.Context
	ApiService FacilitatorDiscoveryAPI
}

func (r ApiFacilitatorSupportedRetrieveRequest) Execute() (*SupportedResponse, *http.Response, error) {
	return r.ApiService.FacilitatorSupportedRetrieveExecute(r)
}

/*
FacilitatorSupportedRetrieve Method for FacilitatorSupportedRetrieve

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFacilitatorSupportedRetrieveRequest
*/
func (a *FacilitatorDiscoveryAPIService) FacilitatorSupportedRetrieve(ctx context.Context) ApiFacilitatorSupportedRetrieveRequest {
	return ApiFacilitatorSupportedRetrieveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupportedResponse
func (a *FacilitatorDiscoveryAPIService) FacilitatorSupportedRetrieveExecute(r ApiFacilitatorSupportedRetrieveRequest) (*SupportedResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupportedResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacilitatorDiscoveryAPIService.FacilitatorSupportedRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/facilitator/supported"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
