/*
x402api Public API

Public External-Wallet x402 integration endpoints for programmatic charges, readiness, receiving addresses, resources, payments, receipts, and facilitator discovery.

API version: 1.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package x402api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type WalletsAndTransfersAPI interface {

	/*
	WalletsRetrieveBalance Retrieve wallet balances

	Retrieve finalized external-wallet balance observations at the requested finality. Requires a tenant API key with the `balances:read` scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiWalletsRetrieveBalanceRequest
	*/
	WalletsRetrieveBalance(ctx context.Context, id string) ApiWalletsRetrieveBalanceRequest

	// WalletsRetrieveBalanceExecute executes the request
	//  @return WalletBalanceResponse
	WalletsRetrieveBalanceExecute(r ApiWalletsRetrieveBalanceRequest) (*WalletBalanceResponse, *http.Response, error)
}

// WalletsAndTransfersAPIService WalletsAndTransfersAPI service
type WalletsAndTransfersAPIService service

type ApiWalletsRetrieveBalanceRequest struct {
	ctx context.Context
	ApiService WalletsAndTransfersAPI
	id string
	finality *string
}

func (r ApiWalletsRetrieveBalanceRequest) Finality(finality string) ApiWalletsRetrieveBalanceRequest {
	r.finality = &finality
	return r
}

func (r ApiWalletsRetrieveBalanceRequest) Execute() (*WalletBalanceResponse, *http.Response, error) {
	return r.ApiService.WalletsRetrieveBalanceExecute(r)
}

/*
WalletsRetrieveBalance Retrieve wallet balances

Retrieve finalized external-wallet balance observations at the requested finality. Requires a tenant API key with the `balances:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiWalletsRetrieveBalanceRequest
*/
func (a *WalletsAndTransfersAPIService) WalletsRetrieveBalance(ctx context.Context, id string) ApiWalletsRetrieveBalanceRequest {
	return ApiWalletsRetrieveBalanceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return WalletBalanceResponse
func (a *WalletsAndTransfersAPIService) WalletsRetrieveBalanceExecute(r ApiWalletsRetrieveBalanceRequest) (*WalletBalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WalletBalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WalletsAndTransfersAPIService.WalletsRetrieveBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/wallets/{id}/balances"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.finality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "finality", r.finality, "form", "")
	} else {
		var defaultValue string = "finalized"
		parameterAddToHeaderOrQuery(localVarQueryParams, "finality", defaultValue, "form", "")
		r.finality = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ApiErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
