/*
x402api Public API

Public External-Wallet x402 integration endpoints for programmatic charges, readiness, receiving addresses, resources, payments, receipts, and facilitator discovery.

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package x402api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type IdempotencyAPI interface {

	/*
	V1IdempotencyOutcomesRetrieve Method for V1IdempotencyOutcomesRetrieve

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param idempotencyKey
	@return ApiV1IdempotencyOutcomesRetrieveRequest
	*/
	V1IdempotencyOutcomesRetrieve(ctx context.Context, idempotencyKey string) ApiV1IdempotencyOutcomesRetrieveRequest

	// V1IdempotencyOutcomesRetrieveExecute executes the request
	//  @return IdempotencyOutcome
	V1IdempotencyOutcomesRetrieveExecute(r ApiV1IdempotencyOutcomesRetrieveRequest) (*IdempotencyOutcome, *http.Response, error)
}

// IdempotencyAPIService IdempotencyAPI service
type IdempotencyAPIService service

type ApiV1IdempotencyOutcomesRetrieveRequest struct {
	ctx context.Context
	ApiService IdempotencyAPI
	idempotencyKey string
}

func (r ApiV1IdempotencyOutcomesRetrieveRequest) Execute() (*IdempotencyOutcome, *http.Response, error) {
	return r.ApiService.V1IdempotencyOutcomesRetrieveExecute(r)
}

/*
V1IdempotencyOutcomesRetrieve Method for V1IdempotencyOutcomesRetrieve

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param idempotencyKey
 @return ApiV1IdempotencyOutcomesRetrieveRequest
*/
func (a *IdempotencyAPIService) V1IdempotencyOutcomesRetrieve(ctx context.Context, idempotencyKey string) ApiV1IdempotencyOutcomesRetrieveRequest {
	return ApiV1IdempotencyOutcomesRetrieveRequest{
		ApiService: a,
		ctx: ctx,
		idempotencyKey: idempotencyKey,
	}
}

// Execute executes the request
//  @return IdempotencyOutcome
func (a *IdempotencyAPIService) V1IdempotencyOutcomesRetrieveExecute(r ApiV1IdempotencyOutcomesRetrieveRequest) (*IdempotencyOutcome, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IdempotencyOutcome
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IdempotencyAPIService.V1IdempotencyOutcomesRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/idempotency-outcomes/{idempotency_key}"
	localVarPath = strings.Replace(localVarPath, "{"+"idempotency_key"+"}", url.PathEscape(parameterValueToString(r.idempotencyKey, "idempotencyKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
