/*
x402api Public API

Public External-Wallet x402 integration endpoints for programmatic charges, readiness, receiving addresses, resources, payments, receipts, and facilitator discovery.

API version: 1.2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package x402api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AssetsAndPaymentControlsAPI interface {

	/*
	PaymentReadinessRetrieve Retrieve payment readiness

	Return the tenant's current external-wallet payment-readiness projection. Requires a tenant API key with the `payment-controls:read` scope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPaymentReadinessRetrieveRequest
	*/
	PaymentReadinessRetrieve(ctx context.Context) ApiPaymentReadinessRetrieveRequest

	// PaymentReadinessRetrieveExecute executes the request
	//  @return PaymentReadiness
	PaymentReadinessRetrieveExecute(r ApiPaymentReadinessRetrieveRequest) (*PaymentReadiness, *http.Response, error)
}

// AssetsAndPaymentControlsAPIService AssetsAndPaymentControlsAPI service
type AssetsAndPaymentControlsAPIService service

type ApiPaymentReadinessRetrieveRequest struct {
	ctx context.Context
	ApiService AssetsAndPaymentControlsAPI
}

func (r ApiPaymentReadinessRetrieveRequest) Execute() (*PaymentReadiness, *http.Response, error) {
	return r.ApiService.PaymentReadinessRetrieveExecute(r)
}

/*
PaymentReadinessRetrieve Retrieve payment readiness

Return the tenant's current external-wallet payment-readiness projection. Requires a tenant API key with the `payment-controls:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPaymentReadinessRetrieveRequest
*/
func (a *AssetsAndPaymentControlsAPIService) PaymentReadinessRetrieve(ctx context.Context) ApiPaymentReadinessRetrieveRequest {
	return ApiPaymentReadinessRetrieveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaymentReadiness
func (a *AssetsAndPaymentControlsAPIService) PaymentReadinessRetrieveExecute(r ApiPaymentReadinessRetrieveRequest) (*PaymentReadiness, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaymentReadiness
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AssetsAndPaymentControlsAPIService.PaymentReadinessRetrieve")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/payment-readiness"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ApiErrorEnvelope
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
