/*
x402api Public API

Public External-Wallet x402 integration endpoints for programmatic charges, readiness, receiving addresses, resources, payments, receipts, and facilitator discovery.

API version: 0.1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package x402api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type ProgrammaticChargesAPI interface {

	/*
	CreateDynamicCharge Method for CreateDynamicCharge

	Create one idempotent dynamic charge from an active resource template. The immutable challenge freezes exact requested atomic amounts, eligible rails, verified tenant receiving addresses, fee policy and evidence, metadata, and expiry. The caller cannot supply a recipient address.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateDynamicChargeRequest
	*/
	CreateDynamicCharge(ctx context.Context) ApiCreateDynamicChargeRequest

	// CreateDynamicChargeExecute executes the request
	//  @return DynamicChargeResponse
	CreateDynamicChargeExecute(r ApiCreateDynamicChargeRequest) (*DynamicChargeResponse, *http.Response, error)

	/*
	RetrieveDynamicCharge Method for RetrieveDynamicCharge

	Return the tenant-scoped frozen charge terms and current projected status without recomputing prices, recipients, rails, or fee evidence.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param chargeId
	@return ApiRetrieveDynamicChargeRequest
	*/
	RetrieveDynamicCharge(ctx context.Context, chargeId string) ApiRetrieveDynamicChargeRequest

	// RetrieveDynamicChargeExecute executes the request
	//  @return DynamicChargeResponse
	RetrieveDynamicChargeExecute(r ApiRetrieveDynamicChargeRequest) (*DynamicChargeResponse, *http.Response, error)
}

// ProgrammaticChargesAPIService ProgrammaticChargesAPI service
type ProgrammaticChargesAPIService service

type ApiCreateDynamicChargeRequest struct {
	ctx context.Context
	ApiService ProgrammaticChargesAPI
	idempotencyKey *string
	dynamicChargeCreate *DynamicChargeCreate
}

// Unique mutation key; replaying different content returns HTTP 409.
func (r ApiCreateDynamicChargeRequest) IdempotencyKey(idempotencyKey string) ApiCreateDynamicChargeRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiCreateDynamicChargeRequest) DynamicChargeCreate(dynamicChargeCreate DynamicChargeCreate) ApiCreateDynamicChargeRequest {
	r.dynamicChargeCreate = &dynamicChargeCreate
	return r
}

func (r ApiCreateDynamicChargeRequest) Execute() (*DynamicChargeResponse, *http.Response, error) {
	return r.ApiService.CreateDynamicChargeExecute(r)
}

/*
CreateDynamicCharge Method for CreateDynamicCharge

Create one idempotent dynamic charge from an active resource template. The immutable challenge freezes exact requested atomic amounts, eligible rails, verified tenant receiving addresses, fee policy and evidence, metadata, and expiry. The caller cannot supply a recipient address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateDynamicChargeRequest
*/
func (a *ProgrammaticChargesAPIService) CreateDynamicCharge(ctx context.Context) ApiCreateDynamicChargeRequest {
	return ApiCreateDynamicChargeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DynamicChargeResponse
func (a *ProgrammaticChargesAPIService) CreateDynamicChargeExecute(r ApiCreateDynamicChargeRequest) (*DynamicChargeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DynamicChargeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgrammaticChargesAPIService.CreateDynamicCharge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/charges"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if r.dynamicChargeCreate == nil {
		return localVarReturnValue, nil, reportError("dynamicChargeCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	// body params
	localVarPostBody = r.dynamicChargeCreate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRetrieveDynamicChargeRequest struct {
	ctx context.Context
	ApiService ProgrammaticChargesAPI
	chargeId string
}

func (r ApiRetrieveDynamicChargeRequest) Execute() (*DynamicChargeResponse, *http.Response, error) {
	return r.ApiService.RetrieveDynamicChargeExecute(r)
}

/*
RetrieveDynamicCharge Method for RetrieveDynamicCharge

Return the tenant-scoped frozen charge terms and current projected status without recomputing prices, recipients, rails, or fee evidence.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param chargeId
 @return ApiRetrieveDynamicChargeRequest
*/
func (a *ProgrammaticChargesAPIService) RetrieveDynamicCharge(ctx context.Context, chargeId string) ApiRetrieveDynamicChargeRequest {
	return ApiRetrieveDynamicChargeRequest{
		ApiService: a,
		ctx: ctx,
		chargeId: chargeId,
	}
}

// Execute executes the request
//  @return DynamicChargeResponse
func (a *ProgrammaticChargesAPIService) RetrieveDynamicChargeExecute(r ApiRetrieveDynamicChargeRequest) (*DynamicChargeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DynamicChargeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgrammaticChargesAPIService.RetrieveDynamicCharge")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/charges/{charge_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"charge_id"+"}", url.PathEscape(parameterValueToString(r.chargeId, "chargeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v map[string]interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
